<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>简单计算器</h2>
    <div id="app">
      数值A: <input type="number" v-model="num1" /> <br />
      数值B:<input type="number" v-model="num2" /><br />
      <button v-on:click="add">+</button>
      <button v-on:click="subtract">-</button><br />
      计算结果:
      <p v-text="sum"></p>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        sum: 0,
        num1: 0,
        num2: 0,
      },
      methods: {
        add: function () {
          this.sum = parseFloat(this.num1) + parseFloat(this.num2);
        },
        subtract: function () {
          this.sum = parseFloat(this.num1) - parseFloat(this.num2);
        },
      },
    });
  </script>
</html>
