<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .usemsg {
        width: 450px;
        height: 500px;
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <div class="usemsg">
      <form action="">
        <span>姓名:</span>
        <input type="text" v-model="uname" /><br />
        <span>性别:</span>
        <input
          type="radio"
          name="gender"
          value="1"
          checked
          v-model="gender"
        />男
        <input type="radio" name="gender" value="2" v-model="gender" />女<br />
        <span>爱好</span>
        <input
          type="checkbox"
          name="favorite"
          value="1"
          v-model="hobby"
          id="basketball"
        />
        <label for="basketball">篮球</label>
        <input
          type="checkbox"
          name="favorite"
          value="2"
          v-model="hobby"
          value="song"
        />
        <label for="song">唱歌</label>
        <input
          type="checkbox"
          name="favorite"
          value="3"
          v-model="hobby"
          id="writecode"
        />
        <label for="writecode">写代码 </label><br />
        <span>职业</span>
        <select name="profession" v-model="occupation" multiple="true">
          <!--multiple="true"能够多选-->
          <option value="0">请选择职业...</option>
          <option value="1">医生</option>
          <option value="2">学生</option>
          <option value="3">程序员</option>
        </select>
        <br />
        <span>个人简介:</span>
        <textarea
          style="resize: none;"
          name="aboutmyself"
          id=""
          cols=""
          rows="3"
        ></textarea
        ><br />
        <input type="submit" v-on:click.prevent="handle" value="提交" />
      </form>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    var usemsg = new Vue({
      el: ".usemsg",
      data: {
        uname: "李四",
        gender: 2,
        hobby: ["2", "3"],
        occupation: 2, //如果是单选,只需要一个值,如果是多选需要用数组
      },
      methods: {
        handle: function () {
          console.log(this.uname);
          console.log(this.hobby);
          console.log(this.gender);
          console.log(this.occupation);
        },
      },
    });
  </script>
</html>
