<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="fname" />
      <button v-on:click="add">添加</button>
      <button v-on:click="del">删除</button>
      <button v-on:click="change">替换</button>
      <ul>
        <li v-for="(item,index) in list">{{item}}</li>
      </ul>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data: {
        fname: "",
        list: ["apple", "orange", "banana"],
      },
      methods: {
        add: function () {
          this.list.push(this.fname);
        },
        del: function () {
          this.list.pop();
        },
        change: function () {
          //注意 slice替换数组 它会生成新的数组。需要把变化后的数组赋值给原始的数组
          this.list = this.list.slice(0, 2);
        },
      },
    });
  </script>
</html>
