<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="fname" />
      <button v-on:click="add(fname)">添加</button>
      <ul>
        <li v-for="(item,index) in list">{{item}}</li>
      </ul>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data: {
        fname: "",
        list: ["apple", "orange", "banana"],
      },
      methods: {
        add: function (fname) {
          this.list.push();
        },
      },
    });
  </script>
</html>
